@import "../scss/variables.scss";

.main {
  flex: 1;
  background-color: $deep-blue;
  display: flex;
  justify-content: center;

  .main-container {
    // display: flex;
    // flex-direction: column;
    margin-top: 5rem;
    // margin-left: -15rem;
    height: 100%;

    .main-title {
      font-family: "Inter", sans-serif;
      font-size: 4rem;
      font-weight: 700;
      color: white;
    }

    .main-list-item {
      font-family: "Inter", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      color: white;
      margin-bottom: 2rem;
    }
  }
}
